@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.cursor {
  position: relative;
  bottom: 7px;
  margin-left: 7px;
  width: 10px;
  height: 17px;
  background: var(--theme-ui-colors-gray--200);
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.5, 0, 1, 1);
  animation-duration: 1.37s;
}

.b--emphasis,
.b--action-primary {
  border-color: var(--theme-ui-colors-purple) !important;
}

.bg-action-primary {
  background: var(--theme-ui-colors-purple) !important;
}

.bg-action-primary:hover {
  background: var(--theme-ui-colors-purple) !important;
  filter: brightness(0.8);
}

.styleguide__floating-action-bar {
  width: calc(100% - 17rem) !important;
  left: auto !important;
  right: 0;
}

.vtex-button * {
  text-transform: initial !important;
}

.c-disabled {
  color: #979899 !important;
}

.hover-bg-action-secondary,
.hover-b--action-secondary {
  background-color: transparent !important;
}
